# Processed assets
en/dist/
br/dist/
en/tmp/
br/tmp/

# Dependencies
en/node_modules/
br/node_modules/

# Sass
en/.sass-cache
br/.sass-cache

# Sublime
*.sublime-project
*.sublime-workspace

# LBAG secrets
/backend/*.local.php
/backend/nbproject/private/
