footer.site-footer
  .container
    .row
      .col-xs-12.col-sm-3.footer-column
        .topic.
          LET'S BUILD A GAME
        ul
          li: a(href="https://dev.hackerexperience.com") Development Center
          li: a(href="#") Resources
          li: a(href="#") Rules
          li: a(href="#") FAQ
      .col-xs-12.col-sm-3.footer-column
        .topic.
          HACKER EXPERIENCE 2
        ul
          li: a(href="https://hackerexperience.com") Official website
          li: a(href="https://docs.hackerexperience.com/specs") Specifications
          li: a(href="https://igg.me/at/hacker-experience") Fundraising
          li: a(href="https://leaks.hackerexperience.com") Blog
      .col-xs-12.col-sm-3.footer-column
      .col-xs-12.col-sm-3.footer-column
        .footer-right
          .topic.
            CONTACT US
          .contact
            a(href="mailto:contact@letsbuildagame.org") contact@letsbuildagame.org
            a(href="tel:18444225953" title="+1 844-422-5953") 1-844-HACKEREXP
          .social
            a(href="https://reddit.com/r/LetsBuildAGame"): i.fa.fa-reddit-alien
            a(href="https://twitter.com/HackerExp"): i.fa.fa-twitter
            a(href="https://facebook.com/LetsBuildAGame"): i.fa.fa-facebook-square
          .copyright-notice
            span &#169; 2016 
              a.copyright-link(href="https://neoartlabs.com") Neoart Labs
