mixin nav-button(url, title)
  li(class={active: currentUrl == url})
    a(href= url)= title

header.site-header: nav.navbar.navbar-default.collapsed: .container
  .navbar-header
    button.navbar-toggle.btn(type="button" data-toggle="collapse" data-target="#headerNavbar")
      i.fa.fa-bars
  #headerNavbar.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-left
      +nav-button(pages.index.baseUrl, "Home")
    ul.nav.navbar-nav.navbar-right
      +nav-button(pages.contribute.baseUrl, "Contribute")
