include meta-tags

block variables

mixin pageId(name)
  if name
    html(id= "page-#{name}")&attributes(attributes)
      block
  else
    html&attributes(attributes)
      block

doctype html
+pageId(currentPage)(lang="en" prefix="og: http://ogp.me/ns#")
  head
    block title
      title Let's build a game

    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

    block robots
      if env == "dev"
        meta(name="robots" content="noindex, nofollow")
      else
        meta(name="robots" content="index, follow")
    block metatags

    link(rel="shortcut icon" href= favicon type="image/x-icon")
    link(rel="icon" href= favicon type="image/x-icon")

    block styles
      +stylesheet("assets/css/vendor.css")
      +stylesheet("assets/css/custom.css")
      +javascript("assets/js/vendor/jquery.js")
      +javascript("assets/js/vendor/bootstrap.js")

  body
    include header

    main(role="main").container
      block content

    block scripts
      +javascript("assets/js/custom.js")