h1,
h2,
h3 {
  @include single-text-shadow(1px, 1px, 1px, 0, rgba(#333, 0.66));
}

// TODO: Button
// TODO: Responsivity on image
.main .intro {
  color: #FFF;
  font-size: 1.25em;
  padding: 0 16px 40px;
  position: relative;

  h1 {
    font-size: 2.6em;
    margin-top: 30px;
  }

  .slogan {
    font-family: $headings-font-family;
    font-size: 1.4em;
    margin: 25px 0 20px;
  }

  .img-placeholder {
    background: $color-tertiary;
    height: 350px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    z-index: -1;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.section-action {
  background: #EEE;

  .div-actions {
    margin-top: 52px;

    .action {
      padding-bottom: 80px;
      text-align: center;

      i,
      h3 {
        @include single-transition(color, 0.35s, linear);
      }

      i {
        @include single-text-shadow(2px, 2px, 0, 0, $gray);
        color: $gray-light;
        cursor: default;
        font-size: 100px;
      }

      h3 {
        color: darken($gray-light, 10%);
        font-size: 18px;
        margin: 30px 0 0;
      }

      p {
        margin-top: 10px;
      }

      &:hover {
        i {
          color: saturate(rgba($color-primary, 0.75), 10%);
        }

        h3 {
          color: darken(saturate($color-primary, 10%), 10%);
        }
      }
    }
  }
}

.section-steps {
  background: $color-secondary;
  color: #FFF;

  .div-steps {
    .step {
      margin: 30px 0;

      p {
        font-size: 1.2em;
      }

      ul {
        padding-left: 1.5rem;
      }
    }
  }
}

// TODO: Button
// TODO: Responsivity on icons
.section-game {
  background: $color-primary;
  color: #FFF;

  .div-game {
    .feature {
      .feature-icon {
        font-size: 64px;
        margin-top: 10px;
        text-align: center;
      }

      .feature-content {
        h3 {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }

  .cta {
    padding: 30px 0 50px;
    text-align: center;

    .btn {
      background: $color-tertiary;
    }
  }
}

.section-schedule {
  background: $color-secondary;
  color: #FFF;

  a {
    color: lighten($color-primary, 15);

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  img {
    height: auto;
    margin-bottom: 32px;
    width: 100%;
  }
}

.section-help {
  background: $color-primary;
  color: #FFF;

  .section-comment {
    margin-bottom: 25px;
  }

  .help {
    padding-bottom: 80px;
    text-align: center;

    > i,
    > h3 {
      @include single-transition(color, 0.35s, linear);
    }

    > i {
      @include single-text-shadow(2px, 2px, 0, 0, rgba(#333, 0.66));
      cursor: default;
      font-size: 90px;
    }

    &:hover {
      > i {
        color: lighten(saturate(rgba($color-secondary, 0.75), 10%), 15%);
      }

      > h3 {
        color: lighten(saturate($color-secondary, 10%), 15%);
      }
    }

    .labels {
      position: absolute;
      right: 30px;
      top: 0;

      .label {
        border: 1px #000 solid;
        border-radius: 4px;
        cursor: default;
        display: block;
        float: left;
        height: 22px;
        margin: 2px;
        padding: 1px;
        width: 22px;

        > i {
          line-height: 1.3;
          vertical-align: super;
        }
      }

      .label-dev {
        background: $color-tertiary;
        border-color: darken($color-tertiary, 15%);

        > i {
          font-size: 15px;
          line-height: 1.11;
        }
      }

      .label-art {
        background: $color-secondary;
        border-color: darken($color-secondary, 15%);
      }

      .label-anyone {
        background: darken($color-primary, 18%);
        border-color: darken(darken($color-primary, 18%), 15%);
      }

      .label-student {
        background: #960018;
        border-color: darken(#960018, 15%);
      }

    }

    p {
      margin-top: 10px;
    }
  }

  .cta {
    padding-bottom: 50px;
    text-align: center;

    .btn {
      background: $color-tertiary;
    }
  }
}

.section-team {
  background: $color-secondary;
  color: #FFF;
  padding-bottom: 30px;

  .member {
    margin-top: 30px;
    text-align: center;

    .member-photo {
      img {
        border: 1px #FFF solid;
        border-radius: 50%;
        height: 200px;
        width: 200px;
      }

      .circle {
        background: $color-primary;
        border: 1px #FFF solid;
        border-radius: 50%;
        height: 200px;
        margin: 0 auto;
        width: 200px;

        i {
          cursor: default;
          font-size: 200px;
          height: 200px;
          padding-right: 10px;
          width: 200px;
        }
      }
    }

    .member-desc {
      p {
        margin-top: 10px;
      }
    }
  }
}

.section-cta {
  color: #FFF;

  .div-cta {
    margin-top: 20px;
    padding-bottom: 30px;

    .cta-contrib {
      margin-top: 20px;
      text-align: center;

      .btn {
        background: $color-secondary;
        height: 64px;
        width: 50%;
      }
    }

    .cta-separator {
      margin: 50px 0;
      text-align: center;

      span {
        font-size: 20px;
      }
    }

    .cta-subscribe {
      text-align: center;

      input {
        border: 2px solid $color-tertiary;
        color: $color-tertiary;
        line-height: 18px;
        margin: 5px 0;
        padding: 8px 5px;
        width: 30%;
      }

      span {
        display: block;
        font-size: 16px;
      }

      .frequency {
        font-size: 14px;
      }

      .btn {
        background: $color-tertiary;
        margin-top: -3px;
        padding: 8px;
        width: 10%;
      }
    }
  }
}

.section-title {
  font-size: 40px;
  margin-top: 60px;
  text-align: center;
}

.section-separator {
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 150px;
}

.section-comment {
  font-size: 18px;
  text-align: center;
}

.site-footer {
  background: $color-secondary;
  color: #FFF;

  .footer-column {
    margin-top: 40px;

    .footer-right {
      text-align: right;

      .contact {
        a {
          display: inline-block;
        }
      }

      .social {
        margin: 10px 0;

        i {
          font-size: 32px;
          margin-left: 10px;
        }
      }

      .copyright-notice {
        margin: 0% (5% * 0.33);
        padding-bottom: 15px;

        @media (max-width: $screen-xs-max) {
          margin: 0% 5%;
        }

        .improve-text {
          font-size: 12px;
          padding-bottom: 5px;

          a {
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }

    .topic {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    a {
      color: #FFF;
      outline: 0;
      text-decoration: none;

      &:hover {
        color: lighten($color-primary, 15);
        cursor: pointer;
      }
    }
  }
}

a {
  color: #FFF;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}
