extends includes/layout

block variables
  - currentPage = "contribute";
  - currentUrl = pages.contribute.baseUrl;

append scripts
  include includes/meta-tags
  +javascript("http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

block content
  .container.section-subscribe
    .row
      .col-xs-12

        form(style="display: none;")#form-setup-acc.subscribe-form

          ul#progress-bar
            li.active Configurar conta
            li Verificar email
            li Selecionar time
            li Selecionar tarefas
            li Preferências

          fieldset
            h2.fs-title Crie sua conta
            h3.fs-subtitle Agora você tem que verificar usa conta
            h3.fs-error

            .form-group
              input(type="text" name="username" placeholder="Username").input-username
              span.helper.input-username-help
            .form-group
              input(type="text" name="email" placeholder="Email").input-email
              span.helper.input-email-help
            .form-group
              input(type="password" name="password" placeholder="Password").input-password
              span.helper.input-password-help

            input(type="submit" name="submit" value="Create").next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading

        form(style="display:none;")#form-verify-email.subscribe-form

          ul#progress-bar
            li.active Configurar conta
            li.active Verificar email
            li Selecionar time
            li Selecionar tarefas
            li Preferências

          fieldset
            h2.fs-title Verifique seu endereço de email
            h3.fs-subtitle Por favor, copie o código de verificação que te enviamos
            h3.fs-error

            .form-group
              input(type="text" name="email-code" placeholder="Código de verificação de email").input-email-code
              span.helper.input-email-code

            input(type="submit" name="submit" value="Ativar").next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading


        form(style="display: none;")#form-select-contrib.subscribe-form

          ul#progress-bar
            li.active Configurar conta
            li.active Verificar email
            li.active Select team
            li Select tasks
            li Preferéncias

          fieldset
            h2.fs-title Time de contribuição
            h3.fs-subtitle Escolha os times que te interessam para que podemos mostrar as opções de contribuição.
            h3.fs-subtitle.no-margin Selecione quantos quiser. Você pode alterar essas configurações depois.
            h3.fs-error

            .team-selector
              .row
                +team('dev', 'Development', 'code')
                +team('art', 'Design & Art', 'paint-brush')
                +team('mgt', 'Management', 'tags')
                +team('gd', 'Game Design', 'lightbulb-o')
              .row
                +team('translation', 'Translation', 'language')
                +team('patron', 'Patron', 'tag')
                +team('student', 'Student / Mentor', 'mortar-board')
                +team('gamer', 'Gamer', 'gamepad')

            input(type="submit" name="submit" value="I'm ready").next.action-button.disabled
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading


        form(style="display: none;")#form-select-tasks.subscribe-form

          ul#progress-bar
            li.active Configurar conta
            li.active Verificar email
            li.active Selecionar time
            li.active Selecionar tarefas
            li Preferências

          fieldset
            h2.fs-title Tarefas de Contribuição
            h3.fs-subtitle Selecione as <strong>ações</strong> que você se interessa. Iremos descrever como executar cada uma em breve.
            h3.fs-subtitle.no-margin Inscreva-se em <strong>tags</strong> para receber notificações sempre que precisarmos da sua ajuda no assunto.
            h3.fs-subtitle.no-margin You can (un)subscribe later. You'll set notification preferences next.
            h3.fs-subtitle.no-margin Você pode se (des)inscrever depois. Você irá escolhar as opções de notificação logo a seguir.
            h3.fs-error

            .task-selector
              #dev
                a#cat-dev(href="#").category
                  p Time de desenvolvimento (42)
                    i.fa.fa-chevron-down.category-icon
                #tasks-dev
                  h1 Ações
                  .row
                    +task('submit-patches', 'Submit patches', 'code-fork')
                    +task('review-code', 'Review code', 'search')
                    +task('write-tests', 'Write tests', 'bullseye')
                    +task('write-docs', 'Write docs', 'book')
                  h1 Tags
                  h2 Workflow
                  .row
                    +task('tag-todo', 'TODO', 'tag')
                    +task('tag-waitingreview', 'WaitingReview', 'tag')
                    +task('tag-bug', 'Bug', 'tag')
                    +task('tag-discussion', 'Discussion', 'tag')

                  h2 Linguagens de Programação
                  .row
                    +task('tag-elixir', 'Elixir', 'tag')
                    +task('tag-python', 'Python', 'tag')
                    +task('tag-elm', 'Elm', 'tag')
                    +task('tag-fs', 'F#', 'tag')
                  .row
                    +task('tag-javascript', 'Javascript', 'tag')
                    +task('tag-php', 'PHP', 'tag')

                  h2 Areas de interesse
                  .row
                    +task('tag-frontend', 'Frontend', 'tag')
                    +task('tag-backend', 'Backend', 'tag')
                    +task('tag-infrastructure', 'Infrastructure', 'tag')
                    +task('tag-security', 'Security', 'tag')
                  .row
                    +task('tag-optimization', 'Optimization', 'tag')
                    +task('tag-ai', 'AI', 'tag')
                    +task('tag-network', 'Network', 'tag')
                    +task('tag-databases', 'Databases', 'tag')
                  .row
                    +task('tag-pm', 'Project Mgt.', 'tag')
                    +task('tag-linux', 'Linux', 'tag')
                    +task('tag-ios', 'iOS', 'tag')
                    +task('tag-android', 'Android', 'tag')

                  h2 Game software (server & interfaces)
                  .row
                    +task('tag-core', 'Core', 'tag')
                    +task('tag-mobile', 'Mobile', 'tag')
                    +task('tag-web', 'Web', 'tag')
                    +task('tag-terminal', 'Terminal', 'tag')

                  h2 Stack Tools
                  .row
                    +task('tag-aerospike', 'Aerospike', 'tag')
                    +task('tag-consul', 'Consul', 'tag')
                    +task('tag-elastic', 'Elastic', 'tag')
                    +task('tag-docker', 'Docker', 'tag')
                  .row
                    +task('tag-kafka', 'Apache Kafka', 'tag')
                    +task('tag-samza', 'Apache Samza', 'tag')
                    +task('tag-nginx', 'nginx', 'tag')
                    +task('tag-haproxy', 'HAproxy', 'tag')
                  .row
                    +task('tag-mnesia', 'Mnesia', 'tag')
                    +task('tag-phabricator', 'Phabricator', 'tag')
                    +task('tag-postgresql', 'PostgreSQL', 'tag')
                    +task('tag-postgis', 'PostGIS', 'tag')
              #art
                a#cat-art(href="#").category
                  p Time de arte & Design (12)
                    i.fa.fa-chevron-down.category-icon
                #tasks-art
                  h1 Ações
                  .row
                    +task('discuss-ui', 'Discuss UI', 'comments')
                    +task('design-ui', 'Design UI', 'paint-brush')
                    +task('create-assets', 'Create assets', 'image')
                    +task('review-ux', 'Review UX', 'dashboard')
                  h1 Tags
                  .row
                    +task('tag-design', 'Design', 'tag')
                    +task('tag-mobileui', 'InterfaceMobile', 'tag')
                    +task('tag-webui', 'InterfaceWeb', 'tag')
                    +task('tag-terminalui', 'InterfaceTerminal', 'tag')
                  .row
                    +task('tag-designdiscussion', 'DesignDiscussion', 'tag')
                    +task('tag-designsuggestion', 'DesignSuggestion', 'tag')
                    +task('tag-designfeedback', 'DesignFeedback', 'tag')
                    +task('tag-ux', 'UX', 'tag')
              #gd
                a#cat-gd(href="#").category
                  p Time de game design (10)
                    i.fa.fa-chevron-down.category-icon
                #tasks-gd
                  h1 Ações
                  .row
                    +task('discuss-features', 'Discuss features', 'comments')
                    +task('study-game', 'Study the game', 'map')
                    +task('balance', 'Balance skills', 'balance-scale')
                    +task('design-story', 'Design the story', 'pencil')
                  h1 Tags
                  .row
                    +task('tag-storyline', 'Storyline', 'tag')
                    +task('tag-gamemechanic', 'GameMechanic', 'tag')
                    +task('tag-gamedesign', 'GameDesign', 'tag')
                    +task('tag-heep-gd', 'HEEP-GD', 'tag')
                  .row
                    +task('tag-feature', 'Feature', 'tag')
                    +task('tag-featurerequest', 'FeatureRequest', 'tag')
              #mgt
                a#cat-mgt(href="#").category
                  p Time de gestão comunitária (7)
                    i.fa.fa-chevron-down.category-icon
                #tasks-mgt
                  h1 A,ões
                  .row
                    +task('triage-tasks', 'Triage tasks', 'folder-open')
                    +task('guide-users', 'Guide users', 'map-signs')
                    +task('curate-content', 'Curate content', 'file-text')
                    +task('report', 'Flag & report', 'legal')
                  h1 Tags
                  .row
                    +task('tag-report', 'Report', 'tag')
                    +task('tag-meta', 'Meta', 'tag')
                    +task('tag-community', 'Community', 'tag')
              #translation
                a#cat-translation(href="#").category
                  p Time de tradução (5)
                    i.fa.fa-chevron-down.category-icon
                #tasks-translation
                  h1 Ações
                  .row
                    +task('translate-text', 'Translate text', 'language')
                    +task('improve-text', 'Improve text', 'paragraph')
                    +task('fix-typos', 'Fix typos', 'strikethrough')
                  h1 Tags
                  .row
                    +task('tag-typos', 'Typos', 'tag')
                    +task('tag-translationrequest', 'TranslationRequest', 'tag')

              #patron
                a#cat-patron(href="#").category
                  p Time de patronos (4)
                    i.fa.fa-chevron-down.category-icon
                #tasks-patron
                  h1 Actions
                  .row
                    +task('spread', 'Spread the word', 'bullhorn')
                    +task('preorder', 'Preorder', 'gift')
                    +task('rate-review', 'Rate & review', 'thumbs-up')
                    +task('invest', 'Be an investor', 'rocket')

              #student
                a#cat-student(href="#").category
                  p Time de Estudantes & Mentoria (13)
                    i.fa.fa-chevron-down.category-icon
                #tasks-student
                  h1 Ações
                  .row
                    +task('follow-topics', 'Follow topics', 'rss')
                    +task('learn-code', 'Learn to code', 'road')
                    +task('study-group', 'Join study group', 'group')
                    +task('share-knowledge', 'Share knowlege', 'exchange')
                  .row
                    +task('adopt-student', 'Adopt a student', 'heart')
                    +task('answer-guide', 'Answer & guide', 'support')
                  h1 Tags
                  .row
                    +task('tag-question', 'Question', 'tag')
                    +task('tag-resource', 'Resource', 'tag')
                    +task('tag-tutorial', 'Tutorial', 'tag')
                    +task('tag-advice', 'Advice', 'tag')
                  .row
                    +task('tag-studygroup', 'StudyGroup', 'tag')
                    +task('tag-seekingmentor', 'SeekingMentor', 'tag')
                    +task('tag-seekingstudent', 'SeekingStudent', 'tag')

              #gamer
                a#cat-gamer(href="#").category
                  p Time Gamer (4)
                    i.fa.fa-chevron-down.category-icon
                #tasks-gamer
                  h1 Ações
                  .row
                    +task('play', 'Play the game', 'gamepad')
                    +task('become-tester', 'Become a tester', 'flask')
                    +task('submit-ideas', 'Submit ideas ', 'lightbulb-o')
                    +task('report-bugs', 'Report bugs', 'bug')

              #other
                a#cat-other(href="#").category
                  p Diversos (7)
                    i.fa.fa-chevron-down.category-icon
                #tasks-other
                  h1 Ações
                  .row
                    +task('music', 'Compose music', 'music')
                    +task('offer-service', 'Offer a service', 'suitcase')
                  h1 Tags
                  .row
                    +task('tag-marketing', 'Marketing', 'tag')
                    +task('tag-legal', 'Legal', 'tag')
                    +task('tag-social-media', 'Social Media', 'tag')
                    +task('tag-crm', 'CRM', 'tag')
                  .row
                    +task('tag-soundtrack', 'Soundtrack', 'tag')
                  h2 Sugira outras maneiras com as quais você pode contribuir com o jogo
                  .row
                    .col-xs-12
                      input#custom-actions(type="text" name="custom-actions")

            input(type="submit" name="submit" value="Let's go").next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading

        form#form-select-preferences.subscribe-form

          ul#progress-bar
            li.active Configurar conta
            li.active Verificar email
            li.active Selecionar time
            li.active Selecionar tarefas
            li.active Preferências

          fieldset
            h2.fs-title Preferências de notificação
            h3.fs-subtitle Iremos compilar em <em>um</em> unico email todas as tarefas e tags que tenha interesse.
            h3.fs-subtitle.no-margin Discussões importantes serão ressaltadas, e você pode sempre ver mais tarefas.
            h3.fs-subtitle.no-margin Você pode cancelar sua inscrição ou alterar as configurações a qualquer momento.
            h3.fs-error

            .form-group
              label(for="email-frequency").col-sm-2.control-label Frequency

              .col-sm-10
                select(name="email-frequency" autocomplete="off").form-control.email-frequency
                  option(value="0") Nunca
                  option(value="1x1") Um email por dia
                  option(value="2x7" selected="selected") Dois emails por semana
                  option(value="1x7") Um email por semana
                  option(value="2x30") Dois emails por mês
                  option(value="1x30") Um email por mês
                span.helper.input-email-code

              span.help-block Selecione a frequencia com a qual podemos enviar um email com discussões interessantes relacionadas às suas tarefas.

            .form-group

              label(for="email-frequency").col-sm-2.control-label Notificações

              .col-sm-10
                label.checkbox-group
                  input(type="checkbox" value="important_updates").notification-input 
                  span Evie-me notícias <em>importantes</em> sobre o projeto
                label.checkbox-group
                  input(type="checkbox" value="step4_starts").notification-input
                  span Fale-me quando a Etapa 4 (Desenvolvimento) começar
                label.checkbox-group
                  input(type="checkbox" value="game_released" checked="checked" autocomplete="off").notification-input
                  span Fale-me quando o jogo for lançado

            input(type="submit" name="submit" value="Finish setup").next.action-button
            i(style="display: none;").fa.fa-spinner.fa-spin.input-loading

    .ending
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

mixin tooltip-span(text)
  span(data-hint= text).hint--large.tooltip-span
    if block
      block

mixin label-selected
  span(title="").label.label-check.fa.fa-check

mixin label-unselected
  span(title="").label.label-check.fa  

mixin tooltip-submit-patches

mixin task(task_id, name, icon)
  - var div_id = 'task-' + task_id

  .col-xs-3
    +tooltip-span(tooltips.tasks[task_id])
      div(id="#{div_id}").task
        .col-xs-2
          i(class="fa fa-" + icon)
        .col-xs-9
          span.task-name= name
      span.error-helper 

mixin team(team_id, name, icon)
  - var div_id = 'team-' + team_id
  .col-xs-3
    +tooltip-span(tooltips.teams[team_id])
      div(id="#{div_id}").team        
          i(class="fa fa-" + icon)
          h1= name
