extends includes/layout

block variables
  - currentPage = "index";
  - currentUrl = pages.index.baseUrl;
  
block header
  include includes/index/header_fixed

block content
  .main: .container
    .row
      .col-xs-12.col-md-7.col-lg-8: .intro#section-home
        h1 VAMOS FAZER UM JOGO
        .slogan Juntos. Agora. Não importando quem você seja.
        
        p.
          Junte-se com outros contribuidores e ajude a criar o próximo jogo 
          colaborativo.
        p.
          Você não precisa ser um programador.
        p
          | E você 
          em irá
          |  aprender muito.
        
        .cta: button.btn.btn-future Learn more
      .img-placeholder.hidden-xs.hidden-sm

  .section-action#section-takeAction: .container
    h2.section-title Take action
    
    .row.div-actions
      .col-sm-3.col-xs-12: .action
        i.fa.fa-code
        h3 APRENDA A PROGRAMAR
        p
          | Dê o primeiro passo em programação. Aprenda com os outros 
          em enquanto faz um jogo
          | ! Receba ajuda e ensine o que você já sabe.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-paint-brush
        h3 MOSTRE SUAS HABILIDADES
        p.
          Ostente suas habilidades profissionais e desevolva novas. Trabalhe em
          algo que você ama - e aprimore seu curriculum.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-globe
        h3 FAÇA A DIFERENÇA
        p.
          Aproveite a oportunidade pra fazer a diferença. Aprenda, ensine, 
          construa, melhore. Traga diversão e conhecimento aos outros.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-smile-o
        h3 DIVIRTA-SE
        p.
          Acima de tudo, aproveite a viagem. Conheça novas pessoas, faça amigos 
          e divirta-se. O que seria da vida sem isso, não?
  
  .section-steps#section-theSteps: .container
    h2.section-title Passo-a-passo
    hr.section-separator
      
    p.section-comment.
      Isso é uma abstração dos passos necessários para construir o jogo.
      
    .div-steps
      .row
        .col-xs-12.col-sm-6: .step
          h3 
            strong Passo 1
            |  - Defina os fundamentos
          p.
            Nosso primeiro passo é definir os fundamentos do projeto.
            Coisas como:
          ul
            li Sobre o que é o jogo?
            li Quais são os objetivos do jogo?
            li Para quais direções o jogo deveria ir?
            li Como podemos manter a comunidade organizada?
          p
            | Grande parte desse planejamento já ocorreu. Nós temos uma 
            em base
            |  bem definida, mas isso só poderá se concretizar com as suas 
            |  idéias e feedback.
        .col-sm-6.hidden-xs
          img(src="/assets/img/step1.png").img.img-responsive.img-center

      .row
        .col-sm-6.hidden-xs
          img(src="/assets/img/step2.png").img.img-responsive.img-center
        .col-xs-12.col-sm-6: .step
          h3 
            strong Passo 2
            |  - Projete o jogo

          p.
            O próximo passo é realmente projetar o jogo.
          p.
            O gameplay e as características que moldam o jogo são projetados
            nesse passo. Eles são extensões dos fundamentos que definimos
            anteriormente.
            
          p
            | Essa é uma etapa sem fim. Isso significa que nós estamos 
            em sempre
            |  projetando e melhorando o jogo, mesmo se ele já tenha sido 
            |  lançado.

      .row
        .col-xs-12.col-sm-6: .step
          h3 
            strong Passo 3
            |  - Planeje a arquitetura do jogo

          p.
            Agora que temos uma idéia melhor de qual jogo estamos fazendo, 
            podemos começar a planejar seu software. Alguns passos comuns são: 

          ul
            li Qual é a arquitetura por trás do servidor?
            li Quais linguagens de programação iremos usar?
            li E quais ferramentas?
            li Como a interface de usuário será?
            li Quais plataformas serão suportadas?
          p.
            A maior parte do planejamento já foi feita, mas nós iremos separar 
            um tempo para revisar tudo com a comunidade.

        .col-sm-6.hidden-xs
          img(src="/assets/img/step3.png").img.img-responsive.img-center

      .row
        .col-sm-6.hidden-xs
          img(src="/assets/img/step4.png").img.img-responsive.img-center
        .col-xs-12.col-sm-6: .step
          h3 
            strong Passo 4
            |  - Desenvolva o jogo

          p.
            Finalmente, é hora de colocar a mão na massa.
          p
            | Nesse passo, o mais desafiador de todos, é no qual nós 
            | incrementalmente desenvolvemos 
            em cada
            |  software que faz parte do jogo.
          p.
            Pode ser uma surpresa que nosso jogo é feito de mais de um software.
          p
            | Essa é uma etapa sem fim. Significando que nós estamos
            em sempre
            |  desenvolvendo e dando manutenção para cada software, mesmo se o
            |  jogo já tenha sido lançado.

  .section-game#section-theGame: .container
    h2.section-title O Jogo
    hr.section-separator
      
    p.section-comment
      | Testemunhem 
      strong Hacker Experience 2
      | , a massively multiplayer real time hacking simulation 
      | , um MMORTS e simulador com temática hackier 
      em feito por você
      | !
    p.section-comment.
      Vivendo em um mundo distópico controlado por megacorporações, você faz o
      papel de um hacker buscando por dinheiro e poder.
      
    .div-game
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-terminal
          .col-xs-10.feature-content
            h3 Hack. Exploit. Intercept.
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-street-view
          .col-xs-10.feature-content
            h3 Meet a virtual world just like ours
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-map-marker
          .col-xs-10.feature-content
            h3 Dominate your city
            p
              | This is an endless step. It means we are 
              em  always
              |  developing and maintaining each software, even if the game
              | has already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-briefcase
          .col-xs-10.feature-content
            h3 Work on mind-blowing missions
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-group
          .col-xs-10.feature-content
            h3 Join a faction
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-graduation-cap
          .col-xs-10.feature-content
            h3 Learn while playing
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
    .cta
      button.btn.btn-future Leia mais sobre Hacker Experience 2

  .section-schedule#section-theSchedule: .container
    h2.section-title O cronograma
    hr.section-separator
      
    p.section-comment
      | Uma tentativa de cronograma (
      a
        | estimar software é
        em  dificil
      | ) com cada passo descrito abaixo.
    p.section-comment
      | Os pontos verdes nos dizem quando o repositório se tornará publico. 
      sup: a * 
      | Os pontos vermelhos são problemas com os quais nos deparamos. 
      
    //- TODO: Inline SVG to allow manipulation
    .timeline-graph 
      include includes/index/timeline.svg

    p.section-comment
      | Você pode encontrar uma 
      a explicação detalhada de cada fase
      |  na documentação.

  .section-help#section-theContribution: .container
    h2.section-title Contruição
    hr.section-separator
    
    p.section-comment
      | Veja como
      strong  você
      |  pode ajudar e se tornar uma grande parte do projeto.

    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-code-fork
        .labels
          +label-dev
            
        h3 Envie correções
        p.
          Pegue tarefas em aberto ou TO-DOs, escreva códigos e envie correçõess 
          para revisão.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-search
        .labels
          +label-dev
          +label-student
          
        h3 Revise código
        p
          em Todo
          |  código enviado passa por uma revisão. Faça parte do review e ajude 
          | a encontrar bugs.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-bullseye
        .labels
          +label-dev
          +label-student
          
        h3 Escreva testes
        p.
          Testes são uma boa maneira de aumentar a integridade e estabilidade 
          do sistema
            
      .col-sm-3.col-xs-12: .help
        i.fa.fa-book
        .labels
          +label-dev
          +label-student
          
        h3 Escreva documentação
        p.
          Não podemos ir muito longe sem uma documentação abrangente.
          
    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-object-group
        .labels
          +label-dev
          +label-art
          
        h3 Desenvolva a interface do jogo
        p.
          Projete uma interface imersiva para desktop e dispositivos móveis.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-paint-brush
        .labels
          +label-art
          
        h3 Faça arte
        p.
          Nosso time não manda muito bem em design. Nos ajude a criar bons 
          ícones e material gráfico em geral.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-lightbulb-o
        .labels
          +label-anyone
          
        h3 Sugira features
        p.
          Teve alguma idéia? Tem alguma feature que você gostaria muito de ver 
          no jogo?
          Sugira!
        
      .col-sm-3.col-xs-12: .help
        i.fa.fa-cogs
        .labels
          +label-student
          
        h3 Projete o jogo
        p.
          Projete e melhore features. Ajuda a balancear a economia do jogo e a 
          proporcionar um gameplay cativamente.
            
    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-bullhorn
        .labels
          +label-anyone
          
        h3 Espalhe a palavra
        p.
          Convide seus amigos para o projeto. Quanto mais contribuidores, mais 
          rápido será o desenvolvimento.
      .col-sm-3.col-xs-12: .help
        i.fa.fa-usd
        .labels
          +label-anyone
          
        h3 Compre o jogo
        p.
          Todo o dinheiro que arrecadarmos será usando para manter o nosso time
          trabalhando full time no Hacker Experience 2.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-language
        .labels
          +label-anyone
          
        h3 Traduza o jogo
        p.
          Traduza o HE2 para a sua linguagem nativa. Corriga erros gramaticais e
          typos que encontrar.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-group
        .labels
          +label-anyone
          
        h3 Gerencie nossa comunidade
        p.
          Recepcione novos membros, intermedie discussões e tagueie tarefas. Nós
          precisamos da sua ajuda para manter a comunidade organizada.
          
    .cta: button.btn.btn-future Veja mais exemplos
  
  .section-team#section-theTeam: .container
    h2.section-title O time
    hr.section-separator
    p.section-comment
      | As incríveis pessoas por trás do
      em  Vamos fazer um jogo
      |  e
      em  Hacker Experience 2
      | .

    .row
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 Renato Massaro
          .member-role CTO &amp; Desenvolvedor
          p Renato é um desenvolvedor backend e administrador de sistemas.
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 
            | Charlotte Oliveira
          .member-role Lead Developer
          p Garota mágica e Alquimista.
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 Allan Jorge
          .member-role Developer
          p Desenvolvedor backend faz-quase-de-tudo.
      .col-sm-6.col-md-3: .member
        .member-photo: .circle: i.fa.fa-question
        .member-desc
          h3 Você!
          .member-role Contribuidor
          p Você está convidado a fazer parte dessa jornada.
          
  .section-cta#section-letsBuildAGame: .container
    h2.section-title Então, vamos fazer um jogo?
    hr.section-separator
    .row
      .col-xs-12.col-sm-6
        p.section-comment
          | Desenvolva um jogo, aprenda bastante
          em  e
          |  se divirta.

        .div-cta
          .cta-contrib: button.btn.btn-future Comece a contribuir
          .cta-separator: span ou
          .cta-subscribe
            span
              | Receba notificações importantes sobre
              em  Vamos fazer um jogo
              | .
            input(type="text" placeholder="Enter your email address")
            button.btn.btn-future.subscribe-button Inscreva-se
            span.frequency (cerca de 1 email por mês)
      .col-xs-12.col-sm-6

mixin label-dev
  span(title="Development task - might require some technical knowledge").label.label-dev: i.fa.fa-code

mixin label-art
  span(title="Art task").label.label-art: i.fa.fa-paint-brush  

mixin label-anyone
  span(title="Anyone can perform this task - no technical knowledge is required.").label.label-anyone: i.fa.fa-check

mixin label-student
  span(title="Great for students!").label.label-student: i.fa.fa-graduation-cap
