body {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

.site-footer {
  flex: 0;
}

.btn.btn-future {
  background-color: $color-primary;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 18px;
  line-height: 20px;
  padding: 8px 48px;
  text-align: center;
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active {
    @include text-shadow(
      0 0 1px 0 #000,
      1px 1px 0 0 #000);
    border: 1px solid darken(#FFF, 5%);
    color: darken(#FFF, 5%);
  }
}

.site-header {
  a {
    color: #FFF;

    &:hover {
      @include single-text-shadow(0, 0, 2px, rgba(#FFF, 0.5));
      color: #FFF;
    }
  }
}

.site-footer {
  background: $color-secondary;
  color: #FFF;

  .footer-column {
    margin-top: 40px;

    .footer-right {
      text-align: right;

      .contact {
        a {
          display: inline-block;
        }
      }

      .social {
        margin: 10px 0;

        i {
          font-size: 32px;
          margin-left: 10px;
        }
      }

      .copyright-notice {
        margin: 0% (5% * 0.33);
        padding-bottom: 15px;

        @media (max-width: $screen-xs-max) {
          margin: 0% 5%;
        }

        .improve-text {
          font-size: 12px;
          padding-bottom: 5px;

          a {
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }

    .topic {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    a {
      color: #FFF;
      outline: 0;
      text-decoration: none;

      &:hover {
        color: lighten($color-primary, 15);
        cursor: pointer;
      }
    }
  }
}
