// Overides bootstrap's navbar styling

// Fix to stupid bootstrap navbar margin
@media (min-width: $grid-float-breakpoint) {
  .navbar-left {
    margin-left: -$navbar-padding-horizontal;
  }
}

// Navbar styling
.navbar-default {
  .navbar-nav {
    > li > a {
      text-shadow: $navbar-default-link-hover-shadow;

      &:hover, &:focus {
        text-shadow: $navbar-default-link-hover-shadow;
      }
    }

    > .active > a {
      &, &:hover, &:focus {
        text-shadow: $navbar-default-link-active-shadow;
      }
    }
    .nav-user {
      display: none;
    }
  }
}

