// Color palette: http://paletton.com/#uid=42Z0X0kleqtbzEKgVuIpcmGtdhZ

////////////////////////////////////////////////////////////////////////////////
// CUSTOM
////////////////////////////////////////////////////////////////////////////////
$color-primary: #33965E;
$color-secondary: #D3AC47;
$color-tertiary: #7D318B;
$color-quaternary: #D36447;

// Vertical timeline component
$timeline-vertical-line-width: 3px;
$timeline-vertical-line-color: #CCC;
$timeline-vertical-panel-color: #FFF;
$timeline-vertical-panel-border-color: #D4D4D4;
$timeline-vertical-panel-shadow-color: rgba(66, 66, 66, 0.33);
$timeline-vertical-arrow-size: 10px;
$timeline-vertical-icon-size: 50px;
$timeline-vertical-icon-top: 0px;

////////////////////////////////////////////////////////////////////////////////
// BOOTSTRAP
////////////////////////////////////////////////////////////////////////////////
$font-family-sans-serif:
  "Open Sans",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;

////////////////////////////////////////////////////////////////////////////////
// FONT AWESOME
////////////////////////////////////////////////////////////////////////////////