extends includes/layout

block variables
  - currentPage = "contribute";
  - currentUrl = pages.contribute.baseUrl;

block content
  +javascript("http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")

  .container.section-subscribe
    .row
      .col-xs-12

        form#form-setup-acc(action="http://localhost/lbag/register.php" method="post").subscribe-form

          ul#progress-bar
            li.active Account setup
            li Verify email
            li Select team
            li Select tasks
            li Preferences

          fieldset
            h2.fs-title Create your account
            h3.fs-subtitle Next you'll verify your email address
            h3.fs-error

            .form-group
              input(type="text" name="username" placeholder="Username").input-username
              span.helper.input-username-help
            .form-group
              input(type="text" name="email" placeholder="Email").input-email
              span.helper.input-email-help
            .form-group
              input(type="password" name="password" placeholder="Password").input-password

            input(type="submit" name="submit" value="Create").next.action-button

        form(style="display:none;")#form-verify-email.subscribe-form

          ul#progress-bar
            li.active Account setup
            li.active Verify email
            li Select team
            li Select tasks
            li Preferences

          fieldset
            h2.fs-title Verify your email address
            h3.fs-subtitle Please copy the verification code we sent to you.
            h3.fs-error

            .form-group
              input(type="text" name="email-code" placeholder="Email verification code").input-email-code
              span.helper.input-email-code

            input(type="submit" name="submit" value="Activate").next.action-button



        form(style="display:none;")#form-select-contrib.subscribe-form

          ul#progress-bar
            li.active Account setup
            li.active Verify email
            li.active Select Team
            li Select Tasks
            li Preferences

          fieldset
            h2.fs-title Contribution Team
            h3.fs-subtitle Join teams you like so we can narrow down your contribution options. 
            h3.fs-subtitle.no-margin Select as many as you want. You can change these settings later.
            h3.fs-error

            .team-selector
              .row
                .col-xs-3
                    #team-dev.team
                      +tooltip-dev
                        i.fa.fa-code
                        h1 Development
                .col-xs-3
                    #team-art.team
                      +tooltip-art
                        i.fa.fa-paint-brush
                        h1 Design & Art
                .col-xs-3
                    #team-mgt.team
                      +tooltip-mgt
                        i.fa.fa-tags
                        h1 Management
                .col-xs-3
                    #team-gd.team
                      +tooltip-gd
                        i.fa.fa-lightbulb-o
                        h1 Game Design 
              .row
                .col-xs-3
                    #team-translation.team
                      +tooltip-translation
                        i.fa.fa-language
                        h1 Translation
                .col-xs-3
                    #team-patron.team
                      +tooltip-patron
                        i.fa.fa-bullhorn
                        h1 Patron
                .col-xs-3
                    #team-student.team
                      +tooltip-student
                        i.fa.fa-mortar-board
                        h1 Student / Mentor
                .col-xs-3
                    #team-gamer.team
                      +tooltip-gamer
                        i.fa.fa-gamepad
                        h1 Gamer

            input(type="submit" name="submit" value="I'm ready").next.action-button.disabled

            span or skip


        form(style="display: none;")#form-select-tasks.subscribe-form

          ul#progress-bar
            li.active Account setup
            li.active Verify email
            li.active Select Team
            li.active Select Tasks
            li Preferences

          fieldset
            h2.fs-title Contribution Tasks
            h3.fs-subtitle Select the <strong>actions</strong> that you feel like doing. We'll describe how to perform each one later.
            h3.fs-subtitle.no-margin Subscribe to <strong>tags</strong> to receive notifications whenever we need your help on the subject.
            h3.fs-subtitle.no-margin You can (un)subscribe later. You'll set notification preferences next.
            h3.fs-error

            .task-selector
              #dev
                a#cat-dev(href="#").category
                  p Development team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-dev
                  h1 Actions
                  .row
                    +task('write-code', 'Submit patches', 'code-fork')
                    +task('review-code', 'Review code', 'search')                
                    +task('write-tests', 'Write tests', 'bullhorn')
                    +task('', 'Write docs', 'bullhorn')
                  h1 Tags
                  h2 Workflow
                  .row
                    +task('', 'TODO', 'bullhorn')
                    +task('', 'WaitingReview', 'bullhorn')
                    +task('', 'Bug', 'bullhorn')
                    +task('', 'Discussion', 'bullhorn')

                  h2 Programming languages
                  .row
                    +task('', 'Elixir', 'bullhorn')
                    +task('', 'Python', 'bullhorn')
                    +task('', 'Elm', 'bullhorn')
                    +task('', 'F#', 'bullhorn')
                  .row
                    +task('', 'Javascript', 'bullhorn')
                    +task('', 'PHP', 'bullhorn')

                  h2 Areas of interest
                  .row
                    +task('', 'Frontend', 'bullhorn')
                    +task('', 'Backend', 'bullhorn')
                    +task('', 'Infrastructure', 'bullhorn')
                    +task('', 'Security', 'bullhorn')
                  .row
                    +task('', 'Optimization', 'bullhorn')
                    +task('', 'AI', 'bullhorn')
                    +task('', 'Network', 'bullhorn')
                    +task('', 'Databases', 'bullhorn')
                  .row
                    +task('', 'Project Mgt.', 'bullhorn')
                    +task('', 'Linux', 'bullhorn')
                    +task('', 'iOS', 'bullhorn')
                    +task('', 'Android', 'bullhorn')

                  h2 Game software (server & interfaces)
                  .row
                    +task('', 'Core', 'bullhorn')
                    +task('', 'Mobile', 'bullhorn')
                    +task('', 'Web', 'bullhorn')
                    +task('', 'Terminal', 'bullhorn')

                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Apache Kafka', 'bullhorn')
                    +task('', 'Apache Samza', 'bullhorn')
                    +task('', 'nginx', 'bullhorn')
                    +task('', 'HAproxy', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')
              #art
                a#cat-art(href="#").category
                  p Design & art team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-art
                  h1 Actions
                  .row
                    +task('write-code', 'Discuss UI', 'code-fork')
                    +task('review-code', 'Design UI', 'search')
                    +task('', 'Create assets', 'bullhorn')
                    +task('', 'Review UX', 'bullhorn')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')
              #gd
                a#cat-gd(href="#").category
                  p Game design team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-gd
                  h1 Actions
                  .row
                    +task('write-code', 'Discuss features', 'code-fork')
                    +task('review-code', 'Study the game', 'search')
                    +task('', 'Balance skills', 'bullhorn')
                    +task('', 'Design the story', 'bullhorn')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')
              #mgt
                a#cat-mgt(href="#").category
                  p Community Management team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-mgt
                  h1 Actions
                  .row
                    +task('write-code', 'Triage tasks', 'code-fork')
                    +task('review-code', 'Guide users', 'search')
                    +task('', 'Curate content', 'bullhorn')
                    +task('', 'Flag & report', 'bullhorn')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')
              #translation
                a#cat-translation(href="#").category
                  p Translation team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-translation
                  h1 Actions
                  .row
                    +task('write-code', 'Translate text', 'code-fork')
                    +task('', 'Improve text', 'bullhorn')
                    +task('review-code', 'Fix typos', 'search')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')

              #patron
                a#cat-patron(href="#").category
                  p Patron team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-patron
                  h1 Actions
                  .row
                    +task('write-code', 'Spread the word', 'code-fork')
                    +task('review-code', 'Preorder', 'search')
                    +task('review-code', 'Rate & review', 'search')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')

              #student
                a#cat-student(href="#").category
                  p Student & Mentorship team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-student
                  h1 Actions
                  .row
                    +task('write-code', 'Follow topics', 'code-fork')
                    +task('review-code', 'Learn to code', 'search')
                    +task('write-code', 'Join study group', 'code-fork')
                    +task('review-code', 'Share knowlege', 'search')
                  .row
                    +task('write-code', 'Adopt a student', 'code-fork')
                    +task('review-code', 'Answer & guide', 'search')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')

              #gamer
                a#cat-gamer(href="#").category
                  p Gamer team (27)
                    i.fa.fa-chevron-right.category-icon
                #tasks-gamer
                  h1 Actions
                  .row
                    +task('write-code', 'Play the game', 'code-fork')
                    +task('review-code', 'Become a tester', 'search')
                    +task('write-code', 'Submit ideas ', 'code-fork')
                    +task('review-code', 'Report bugs', 'bug')
                  h1 Tags
                  
                  h2 Stack Tools
                  .row
                    +task('', 'Aerospike', 'bullhorn')
                    +task('', 'Consul', 'bullhorn')
                    +task('', 'Elastic', 'bullhorn')
                    +task('', 'Docker', 'bullhorn')
                  .row
                    +task('', 'Kafka', 'bullhorn')
                    +task('', 'Samza', 'bullhorn')
                    +task('', '', 'bullhorn')
                    +task('', '', 'bullhorn')
                  .row
                    +task('', 'Mnesia', 'bullhorn')
                    +task('', 'Phabricator', 'bullhorn')
                    +task('', 'PostgreSQL', 'bullhorn')
                    +task('', 'Ansible', 'bullhorn')


            input(type="submit" name="submit" value="Let's go").next.action-button

        .ending
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br

mixin tooltip-span(text)
  span(data-hint= text).hint--medium.tooltip-span
    if block
      block

mixin tooltip-dev
  +tooltip-span("Write patches, review code and write unit tests. Follow and discuss tasks tagged under any technology you love.")
    if block
      block

mixin tooltip-art
  +tooltip-span("Design game interfaces for desktop or mobile. Draw assets, enhance our icons and create the ultimate gaming experience.")
    if block
      block

mixin tooltip-mgt
  +tooltip-span("Manage the community. Keep everything organized, tag tasks, guide new users and help us keep focused on what is important.")
    if block
      block

mixin tooltip-gd
  +tooltip-span("Design features, balance the game and develop the storyline. Don't be intimitated, amateur and wannabe game designers are more than welcome!")
    if block
      block

mixin tooltip-translation
  +tooltip-span("Translate the game to your native language. Spotted any grammar error or typos? Fix them!")
    if block
      block

mixin tooltip-patron
  +tooltip-span("Share the project to your followers on social media. More contributors means faster development and a higher quality game.")
    if block
      block

mixin tooltip-student
  +tooltip-span("Learn to code, or discover a new technology. Share and consolidate your knowledge.")
    if block
      block

mixin tooltip-gamer
  +tooltip-span("Of course you want to play the game YOU are creating, right? Test brand new features, spot bugs or simply have fun!")
    if block
      block

mixin label-selected
  span(title="").label.label-check.fa.fa-check

mixin label-unselected
  span(title="").label.label-check.fa  

mixin tooltip-write-test
  +tooltip-dev
    if block
      block

mixin task(task_id, name, icon)
  - var tooltip = "tooltip-" + task_id
  - var div_id = 'task-' + task_id
  .col-xs-3
    //-+#{tooltip}
    +tooltip-dev
      div(id="#{div_id}").task
        .col-xs-2
          i(class="fa fa-" + icon)
        .col-xs-9
          span.task-name= name
      span.error-helper 
