extends includes/layout

block variables
  - currentPage = "index";
  - currentUrl = pages.index.baseUrl;

block content
  .main: .container
    .row
      .col-xs-12.col-md-7.col-lg-8: .intro
        h1 LET'S BUILD A GAME
        .slogan Together. Now. No matter who you are.
        
        p.
          Join other contributors and help create the next collaborative game.
        p.
          You don't have to be a programmer.
        p
          | And you 
          em will
          |  learn a lot.
        
        .cta: button.btn.btn-future Learn more
      .img-placeholder.hidden-xs.hidden-sm

  .section-action: .container
    h2.section-title Take action
    
    .row.div-actions
      .col-sm-3.col-xs-12: .action
        i.fa.fa-code
        h3 LEARN TO CODE
        p
          | Take the first step on programming. Learn with others 
          em while building a game
          | ! Receive help and teach what you know.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-paint-brush
        h3 SHOW YOUR SKILLS
        p.
          Show off your professional skills and develop new ones. Work on
          something you love - and improve your resumé.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-globe
        h3 MAKE A DIFFERENCE
        p.
          Take the opportunity to make a difference. Learn, teach, build,
          improve. Bring fun and knowledge to others.
          
      .col-sm-3.col-xs-12: .action
        i.fa.fa-smile-o
        h3 HAVE FUN
        p.
          Above all else, enjoy the ride. Meet new people, make friends and have
          fun. That's what life is all about.
  
  .section-steps: .container
    h2.section-title The steps
    hr.section-separator
      
    p.section-comment.
      This is a high-level overview of the steps required to build the game. 
      
    .div-steps
      .row
        .col-xs-12.col-sm-6: .step
          h3 
            strong Step 1
            |  - Define the foundations
          p.
            Our first step is to define the foundations of the project.
            Stuff like:
          ul
            li What is the game about?
            li What are the game objectives?
            li What directions should the game take?
            li How can we keep the community organized?
          p
            | Most of this planning already took place. We have a well-defined 
            em foundation
            |  for the game, but it can become anything with your ideas and
            | feedback.
        .col-sm-6.hidden-xs
          img(src="/assets/img/step1.png").img.img-responsive.img-center

      .row
        .col-sm-6.hidden-xs
          img(src="/assets/img/step2.png").img.img-responsive.img-center
        .col-xs-12.col-sm-6: .step
          h3 
            strong Step 2
            |  - Design the game

          p.
            The next step is to actually design the game.
          p.
            The gameplay and features that shape the game are designed on this
            step. They are extensions of the foundations defined previously.
          p
            | This is an endless step. It means we are 
            em always
            |  designing and improving the game, even if it has already been
            | released.

      .row
        .col-xs-12.col-sm-6: .step
          h3 
            strong Step 3
            |  - Plan the game architecture

          p.
            Now that we have a better idea of what game we are building, we can
            start planning its software. Common questions on this step are:

          ul
            li What is the underlying server architecture?
            li What programming languages will we use?
            li What tools will we use?
            li How will the user interface look like?
            li What platforms will be supported?
          p.
            Most of this planning already took place, but we'll take the time to
            review everything with the community.
        .col-sm-6.hidden-xs
          img(src="/assets/img/step3.png").img.img-responsive.img-center

      .row
        .col-sm-6.hidden-xs
          img(src="/assets/img/step4.png").img.img-responsive.img-center
        .col-xs-12.col-sm-6: .step
          h3 
            strong Step 4
            |  - Develop the game

          p.
            Finally, it's time to get our hands dirty.
          p
            | On this step, the most challenging of all, it's when we
            | incrementally develop 
            em each
            |  software that makes up the game.
          p.
            It might come as a surprise that our game is made of more than one
            software.
          p
            | This is an endless step. It means we are 
            em always
            |  developing and maintaining each software, even if the game has
            | already been released.

  .section-game: .container
    h2.section-title The game
    hr.section-separator
      
    p.section-comment
      | Meet 
      strong Hacker Experience 2
      | , a massively multiplayer real time hacking simulation 
      em built by you
      | !
    p.section-comment.
      Living in a dystopian world controlled by megacorporations, you play the
      role of a hacker seeking money and power. 
      
    .div-game
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-terminal
          .col-xs-10.feature-content
            h3 Hack. Exploit. Intercept.
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-street-view
          .col-xs-10.feature-content
            h3 Meet a virtual world just like ours
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-map-marker
          .col-xs-10.feature-content
            h3 Dominate your city
            p
              | This is an endless step. It means we are 
              em  always
              |  developing and maintaining each software, even if the game
              | has already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-briefcase
          .col-xs-10.feature-content
            h3 Work on mind-blowing missions
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
      .row
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-group
          .col-xs-10.feature-content
            h3 Join a faction
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
        .col-xs-12.col-sm-6: .feature: .row
          .col-xs-2.feature-icon: i.fa.fa-graduation-cap
          .col-xs-10.feature-content
            h3 Learn while playing
            p
              | This is an endless step. It means we are
              em  always
              |  developing and maintaining each software, even if the game has
              | already been released.
              
    .cta
      button.btn.btn-future Read more about Hacker Experience 2

  .section-schedule: .container
    h2.section-title The schedule
    hr.section-separator
      
    p.section-comment
      | A tentative schedule (
      a
        | estimating software is
        em  hard
      | ) with each step outlined below.
    p.section-comment
      | Green dots tell us when the code repository will be made public
      sup: a *
      | . Red dots are problems we've faced. 
      
    //- TODO: Inline SVG to allow manipulation
    .timeline-graph 
      include includes/index/timeline.svg

    p.section-comment
      | You can find a detailed 
      a explanation of each phase
      |  on the documentation.

  .section-help: .container
    h2.section-title The contribution
    hr.section-separator
    
    p.section-comment
      | Here's how
      strong  you
      |  can help and become a part of this project.

    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-code-fork
        .labels
          +label-dev
            
        h3 Submit patches
        p.
          Grab open tasks or TO-DOs, write code and submit patches for review.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-search
        .labels
          +label-dev
          +label-student
          
        h3 Review code
        p
          em All
          |  code submitted is reviewed. Join the review and help spot bugs.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-bullseye
        .labels
          +label-dev
          +label-student
          
        h3 Write tests
        p.
          Tests are a great way to increase overall system resilience and
          stability.
            
      .col-sm-3.col-xs-12: .help
        i.fa.fa-book
        .labels
          +label-dev
          +label-student
          
        h3 Write documentation
        p.
          We can't go anywhere without a thorough documentation.
          
    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-object-group
        .labels
          +label-dev
          +label-art
          
        h3 Develop the game UI
        p.
          Design an immersive interface for desktop and mobile devices.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-paint-brush
        .labels
          +label-art
          
        h3 Make art
        p.
          Our team is really bad with design. Help us create nice icons, assets
          and images.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-lightbulb-o
        .labels
          +label-anyone
          
        h3 Suggest features
        p.
          Got an idea? Have a feature you'd really like to see in the game?
          Suggest it!
        
      .col-sm-3.col-xs-12: .help
        i.fa.fa-cogs
        .labels
          +label-student
          
        h3 Design the game
        p.
          Design and improve features. Help balance the game economy and
          design an entertaining gameplay.
            
    .row
      .col-sm-3.col-xs-12: .help
        i.fa.fa-bullhorn
        .labels
          +label-anyone
          
        h3 Spread the word
        p.
          Invite your friends to the project. More contributors means faster
          development.
      .col-sm-3.col-xs-12: .help
        i.fa.fa-usd
        .labels
          +label-anyone
          
        h3 Donate/Preorder
        p.
          All income keeps our team working full time on Hacker Experience 2.
          It also allows us to hire additional developers. 
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-language
        .labels
          +label-anyone
          
        h3 Translate the game
        p.
          Translate HE2 to your native language. Fix grammar errors and typos
          you find.
          
      .col-sm-3.col-xs-12: .help
        i.fa.fa-group
        .labels
          +label-anyone
          
        h3 Manage our community
        p.
          Welcome new members, close discussions and tag tasks. We need your
          help to keep the community organized.
          
    .cta: button.btn.btn-future View more examples
  
  .section-team: .container
    h2.section-title The team
    hr.section-separator
    p.section-comment
      | The amazing people behind
      em  Let's build a game
      |  and
      em  Hacker Experience 2
      | .

    .row
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 Renato Massaro
          .member-role CTO &amp; Developer
          p Renato is a passionate backend developer and systems administrator.
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 
            | Charlotte');
            span.drop-tables  drop table users;--
          .member-role Lead Developer
          p Magical girl and Alchemist.
      .col-sm-6.col-md-3: .member
        .member-photo: img(src="https://usercontent1.hubstatic.com/5732926_f520.jpg" height="320" width="320")
        .member-desc
          h3 Allan Jorge
          .member-role Developer
          p Backend guei developer.
      .col-sm-6.col-md-3: .member
        .member-photo: .circle: i.fa.fa-question
        .member-desc
          h3 You!
          .member-role Contributor
          p You are invited to be a part of this journey.
          
  .section-cta: .container
    h2.section-title So, let's build a game?
    hr.section-separator
    .row
      .col-xs-12.col-sm-6
        p.section-comment
          | Develop a game, learn a lot
          em  and
          |  have fun.

        .div-cta
          .cta-contrib: button.btn.btn-future Start contributing
          .cta-separator: span or
          .cta-subscribe
            span
              | Receive important notifications about
              em  Let's build a game
              | .
            input(type="text" placeholder="Enter your email address")
            button.btn.btn-future.subscribe-button Subscribe
            span.frequency (about 1 email per month)
      .col-xs-12.col-sm-6

mixin label-dev
  span(title="Development task - might require some technical knowledge").label.label-dev: i.fa.fa-code

mixin label-art
  span(title="Art task").label.label-art: i.fa.fa-paint-brush  

mixin label-anyone
  span(title="Anyone can perform this task - no technical knowledge is required.").label.label-anyone: i.fa.fa-check

mixin label-student
  span(title="Great for students!").label.label-student: i.fa.fa-graduation-cap
