extends includes/layout

block title
  title Let's build a game - User Panel
  
block variables
  - currentPage = "panel";

append styles
  include includes/meta-tags
  +stylesheet("/assets/css/panel.css")

block header
  include includes/panel/header

block content
  .container: .user-panel
    h1 Contribution Panel
    p!= strings.panel.dashboard.intro

    h2 My Actions
    #actions
      p


  script var panel_actions = !{JSON.stringify(strings.panel.dashboard.actions)}
