extends includes/layout

block variables
  - currentPage = "timeline";
  - currentUrl = pages.timeline.baseUrl;

block title
  title= pages.timeline.title

block content
  h1 The Project Timeline
  ul.timeline-vertical
    .timestamp: .text February 2016
    li.content
      .icon: i.fa.fa-cog
      .content-panel
        p.
          Aliquam pulvinar vel lectus sed aliquet. Phasellus mollis scelerisque ipsum, ullamcorper finibus leo facilisis sit amet. Praesent molestie nulla metus, id egestas elit eleifend vel. Fusce sed iaculis elit, quis accumsan erat. Morbi sed justo dignissim, pharetra eros quis, aliquet turpis. Sed pulvinar orci in risus vestibulum, vitae dictum quam cursus. Sed venenatis turpis et enim sagittis commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam suscipit erat ut urna pulvinar posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta ligula non mauris lobortis, at sagittis nunc euismod. Donec nec convallis nisi.
    li.content
      .icon.success: i.fa.fa-users
      .content-panel
        p.
          Pellentesque sed vulputate enim. Praesent rhoncus ullamcorper purus vel aliquet. Duis iaculis convallis nisi id facilisis. Donec id eros a arcu pretium feugiat. Nullam ex felis, consequat at leo a, pulvinar suscipit lectus. Aliquam quis nunc magna. Vestibulum at nunc sed dui lacinia tempor vitae et diam. Proin vitae lacinia arcu. Praesent volutpat magna ex, eget imperdiet lectus cursus sit amet. Quisque odio libero, dictum et vestibulum blandit, auctor sed tortor. In non tempus enim, ac sollicitudin metus. Curabitur tincidunt mauris eu augue tempus, ac blandit neque lacinia. Aliquam tortor nunc, pretium eget vehicula quis, consectetur sit amet ipsum.
    li.content
      .icon.warning: i.fa.fa-random
      .content-panel
        p.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vel ultrices ligula. Aenean a viverra quam. Vestibulum lobortis lorem sed risus tincidunt finibus. Morbi vitae diam eros. Nulla facilisis dui id molestie eleifend. Morbi nec metus tortor. Ut iaculis ligula augue, sed venenatis enim convallis ut. Maecenas vulputate, lacus vitae condimentum aliquam, lorem eros viverra justo, lobortis luctus nulla ante nec sapien. Nam at arcu lacinia, ultricies justo ut, facilisis massa. Curabitur venenatis laoreet urna nec sagittis.
    .timestamp: .text March 2016
    li.content
      .icon.danger: i.fa.fa-bitcoin
      .content-panel
        p.
          Mauris posuere dui eget libero ornare mattis. Nullam pellentesque felis nisl, vel laoreet justo gravida vitae. Aenean enim dolor, cursus mattis nulla et, varius interdum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus mi, elementum sit amet tortor id, pellentesque auctor metus. Sed bibendum sed justo ut tincidunt. Phasellus vel risus ac sapien condimentum imperdiet quis sit amet justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur imperdiet imperdiet aliquet. Phasellus tempus arcu tellus, quis eleifend ante dignissim sed. Nulla vehicula nibh dapibus sodales fringilla. Vivamus ut faucibus mauris, at viverra mi. Mauris pulvinar risus id neque imperdiet interdum.
    li.content
      .icon.info: i.fa.fa-firefox
      .content-panel
        p.
          Ut id est eget erat convallis euismod. Fusce vel imperdiet magna, a hendrerit lacus. Ut eu diam eu enim ultrices consectetur. Morbi ut magna vel massa ornare rhoncus. Donec ac convallis orci, vel bibendum ex. Vivamus condimentum viverra urna, viverra fringilla justo hendrerit sed. Donec feugiat tellus ex, at eleifend ligula ultrices quis. Maecenas at auctor purus, non consequat urna. Pellentesque sagittis vel urna posuere interdum.
    .timestamp: .text April 2016
    li.content
      .icon.primary: i.fa.fa-heart
      .content-panel
        p.
          Vestibulum vehicula fringilla massa, id laoreet orci fermentum vel. Sed in viverra mauris. Aliquam erat volutpat. Curabitur sed dolor ac lacus scelerisque mattis sit amet ac dolor. Morbi tortor est, posuere id volutpat a, molestie ut arcu. Praesent ut nunc molestie, pharetra arcu et, rutrum sapien. Nulla sed risus leo.
