mixin nav-button(url, title, nav_class)
  li(class={active: currentUrl == url} class= nav_class)&attributes(attributes)
    a(href= url)= title

header.site-header: nav.navbar.navbar-default.collapsed: .container
  .navbar-header
    button.navbar-toggle.btn(type="button" data-toggle="collapse" data-target="#headerNavbar")
      i.fa.fa-bars
  #headerNavbar.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-left
      +nav-button("/panel.html", "My panel")
      +nav-button("/panel/teams.html", "Teams")
      +nav-button("/panel/tasks.html", "Tasks")
      +nav-button("/panel/preferences.html", "Preferences")
    ul.nav.navbar-nav.navbar-right
      +nav-button("/panel", "Welcome", "nav-welcome")
      +nav-button("/panel/logout", "Logout", "nav-logout")
