mixin nav-button(url, title)
  li(class={active: currentUrl == url})&attributes(attributes)
    a(href= url)= title

header.site-header: nav.navbar.navbar-default.collapsed.navbar-fixed-top: .container
  .navbar-header
    button.navbar-toggle.btn(type="button" data-toggle="collapse" data-target="#headerNavbar")
      i.fa.fa-bars
  #headerNavbar.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-left
      +nav-button("#section-home", strings.header.home)
      +nav-button("#section-theSteps", strings.header.steps)
      +nav-button("#section-theGame", strings.header.game)
      +nav-button("#section-theSchedule", strings.header.schedule)
      +nav-button("#section-theContribution", strings.header.contribution)
      +nav-button("#section-theTeam", strings.header.team)
    ul.nav.navbar-nav.navbar-right
      +nav-button(pages.contribute.baseUrl, strings.header.contribute)
